PORT=80
API_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
HOST=https://hostname.com
MY_CHAT_ID=111111111
PATH_TO_TOOLS_FOLDER="dist/src/tools"
DATABASE_CONNECTION_LINK=mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+1